.boxes{
    height: 10rem;
    width: 10rem;
    border-radius: 25%;
    
}
.box_left
{
    margin: 5% 0% 5% 60%;
    padding: 0%;
}
.box_right
{
    margin: 5% 60% 5% 0%;
    padding: 0%;
}
.centralize{
    text-align: center;
}
h1{
    margin-top: 1rem;
    
    font-family: 'Frijole', cursive;
    font-size: 5rem;
    color: purple;
}
body{
    background-color: black;
}
footer{
    font-family: 'Frijole', cursive;
}
div{
    background-color: orangered;
    text-align: right;
}